* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    padding: 5px;
    margin: 5px;
}

.hide{
    display: none;
}

.correcta {
    background-color: chartreuse;
    pointer-events: none;
}

.incorrectas {
    background-color: red;
}